[submodule "blinky"]
	path = blinky
	url = https://github.com/Li-xinjia/Project_based_Learning-Embedded_system-blinky.git
[submodule "buzzer"]
	path = buzzer
	url = https://github.com/Li-xinjia/Project_based_Learning-Embedded_system-buzzer.git
[submodule "lcd"]
	path = lcd
	url = https://github.com/Li-xinjia/Project_based_Learning-Embedded_system-lcd.git
[submodule "rotary"]
	path = rotary
	url = https://github.com/Li-xinjia/Project_based_Learning-Embedded_system-rotary.git
[submodule "colorsensor"]
	path = colorsensor
	url = https://github.com/Li-xinjia/Project_based_Learning-Embedded_system-colorsensor.git
